.roomContainer{
    background-color: #222;
    border-radius: 15px;
    padding: 60px 80px;
    color: white;
    width: 50%;
    -webkit-box-shadow: 11px 15px 19px 14px rgba(107,255,219,0.63), -9px -6px 19px 14px rgba(138,229,255,0.63), -9px -6px 19px 14px rgba(138,229,255,0.63); 
    box-shadow: 11px 15px 19px 14px rgba(107,255,219,0.63), -9px -6px 19px 14px rgba(138,229,255,0.63), -9px -6px 19px 14px rgba(138,229,255,0.63);
}
.topItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.queueSwitch{
    display: flex;
    flex-direction: row;
}
.musicContainer{
    width: 100%;

}
.playAnimation{
    animation: ease 0.4s fadeOut;
    animation: ease 0.4s fadeIn 
}
.bottomButtons{
    display: flex;
    margin-top:20px;
    align-items: center;
    justify-content: center;
}
.availableDevices{
    margin-right: 10px;
}
.roomSettings{
    margin-left: 10px;

}
.musicPlayer{
    display: flex;
    flex-direction: row;
    border:solid rgb(65, 65, 65) 2px;
    width: 100%;
}
.leftHalf{
    border-right: none;
}
.rightHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom:0px;
    justify-content: space-between;
    border-left: none;
}
.artists{
    margin: 0;
}
.trackButtons{
    display: flex;
    justify-content: space-between;
}
.skip{
    margin:auto
}
.pauseOrPlay{
    margin:auto
}
.audioController{
    bottom:0px;
}

.popUp{
    z-index: 2;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(34, 34, 34, 0.63);
    height: 100%;
    width: 100%;
    top:auto;
    bottom: auto;
}
.popUpContent{
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(61, 140, 204, 0.863);
    padding: 55px 80px;
    border-radius: 15px;
    -webkit-box-shadow: -6px -1px 19px 5px rgba(0,255,219,0.42); 
    box-shadow: -6px -1px 19px 5px rgba(0,255,219,0.42);
}
.updateRoomButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15px
}
.searchInput{
    display: flex;
    justify-content: space-between;
}
.song{
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
    text-align: center;
}
.song_leftSide{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
/* .song_btnGroup{
    display: flex;
    flex-direction: row;
} */
.songDetails p{
    padding: 5px 0;
}
.songDetails{
    width: 100%;
    display: flex;
}
.songLength{
    display: flex;
}
.songName{
    display: flex;
}
.songDetails div{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.songDetails div p{
    margin:0
}

@keyframes fadeIn{
    0%{opacity: 0%;}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
@keyframes fadeOut{
    0%{opacity: 100%;}
    25%{opacity: 75%;}
    50%{opacity: 50%;}
    75%{opacity: 25%;}
    100%{opacity: 0%;}
}

